{% macro briefs(record) -%}
<li class="brief-record">
    <div class="media">
    {%- set files = record|get_files_list -%}
        <div class="media-left">
                <a href="{{ url_for('invenio_records_ui.recid_files', pid_value=record.recid, filename=files[0].file_name) }}" target="_none"><img class="media-object" src="{{ url_for('invenio_records_ui.recid_files', pid_value=record.recid, filename=files[0].thumb_name) }}" alt="Document"/></a>
                <div class="caption text-center">{{_(record.document_type.main) | title}}</div>
        </div>
        <div class="media-body">

            {#- title #}
            <h3 class="media-heading"><a href="/record/{{ record.recid }}">{{ record.title.full | striptags }}{% if (record.title.subtitle) -%}&nbsp;: {{ record.title.subtitle|striptags }}{%- endif %}</a></h3>

            {#- authors #}
            {%- set separator = '' -%}
            {%- if record.authors %}
            <h4>
            {%- for author in record.authors -%}
            {{ separator | safe }}<a href="#">{{ author.name }}{%- if (author.role) -%}&nbsp; ({{ author.role }}){%- endif -%}</a>{%- set separator = "&thinsp;; " %}
            {%- endfor -%}
            </h4>
            {%- endif -%}

            {%- if record.corporate %}
            <h4>
            {%- for corporate in record.corporate -%}
            {{ separator | safe }}<a href="#">{{ corporate }}</a>{% set separator = "&thinsp;; " %}
            {%- endfor -%}
            </h4>
            {% endif %}

            {#- TODO: 502__a thesis note #}

            {#- publication - edition #}
            {% if record.edition or record.publication %}
            <h4>
            {% if record.edition and record.edition.name %}
                {{ record.edition.name }}.
            {% endif %}

            {% if record.publication %}
                {%- if record.publication.location -%}{{ record.publication.location }}{% endif %}
                {%- if record.publication.publisher -%}&thinsp;: {{ record.publication.publisher }}{% endif %}
                {%- if record.publication.date -%}, {{ record.publication.date }}{% endif %}
            {% endif %}
            </h4>
            {% endif %}

            {#- TODO: 773__t host item entry #}

            {#- content note -#}
            {%- for content_note in record.content_note -%}
            {%- if loop.first %}
            <h4>{{ content_note | format_human_readable_year_month(lang) }}</h4>
            {% endif %}
            {% endfor %}

            {#- TODO: 362__a numerotation #}

            {#- series -#}
            {%- if record.series %}
            <h4>{{ record.series.full }}</h4>
            {% endif %}

            {#- ISBN -#}
            {% if record.isbn10 %}
            <h4>
                ISBN: {{ record.isbn10 }}
            </h4>
            {% endif %}

            {% if record.isbn13 %}
            <h4>
                ISBN: {{ record.isbn13 }}
            </h4>
            {% endif %}

            {%- if record.summary %}
            <p class="list-group-item-text">
                {{ record.summary[0].content | striptags | truncate_summary(400) }}
            </p>
            {% endif %}
        </div>
    </div>
</li>
{%- endmacro %}